dist
html
.tox
src/beamlime.egg-info

*.sw?

.clangd/
.idea/
.vscode/
*.ipynb_checkpoints
__pycache__/
.vs/
.virtual_documents
.hypothesis
.pytest_cache
.mypy_cache
docs/generated/

.coverage
coverate_html
