# Depenency on other templates:
#   data-reduction.yaml.template
#   general.yaml.template

general:
  user:
  name:
  last-updated:
  log-dir: # default "~/.peek-data/log/"

data-stream:

data-reduction:
