data-stream:
  interfaces:
    # - data-stream-name-1
    # - data-stream-name-2
    # - data-stream-name-3
  interface-mapping:
    # - output: data-stream-name-2
    #   input: data-stream-name-1
    # - output: data-stream-name-2
    #   input: data-stream-name-3,data-stream-name-4