bootstrap.servers: {{ KAFKA2_BOOTSTRAP_SERVERS }}
security.protocol: {{ KAFKA2_SECURITY_PROTOCOL }}
sasl.mechanism: {{ KAFKA2_SASL_MECHANISM }}
sasl.username: {{ KAFKA2_SASL_USERNAME }}
sasl.password: {{ KAFKA2_SASL_PASSWORD }}