bootstrap.servers: {{ KAFKA_BOOTSTRAP_SERVERS }}
security.protocol: {{ KAFKA_SECURITY_PROTOCOL }}
sasl.mechanism: {{ KAFKA_SASL_MECHANISM }}
sasl.username: {{ KAFKA_SASL_USERNAME }}
sasl.password: {{ KAFKA_SASL_PASSWORD }}