service:
  poll_interval: 0.1
consumer:
  topics:
    - beam_monitor
  kafka:
    bootstrap.servers: {{ KAFKA_BOOTSTRAP_SERVERS }}
    security.protocol: {{ KAFKA_SECURITY_PROTOCOL }}
    sasl.mechanism: {{ KAFKA_SASL_MECHANISM }}
    sasl.username: {{ KAFKA_SASL_USERNAME }}
    sasl.password: {{ KAFKA_SASL_PASSWORD }}
    auto.offset.reset: latest
    enable.auto.commit: true
    fetch.min.bytes: 1
    session.timeout.ms: 6000
    heartbeat.interval.ms: 2000
control:
  topic: beamlime_monitor_data_control
  kafka:
    bootstrap.servers: {{ KAFKA2_BOOTSTRAP_SERVERS }}
    security.protocol: {{ KAFKA2_SECURITY_PROTOCOL }}
    sasl.mechanism: {{ KAFKA2_SASL_MECHANISM }}
    sasl.username: {{ KAFKA2_SASL_USERNAME }}
    sasl.password: {{ KAFKA2_SASL_PASSWORD }}
    auto.offset.reset: earliest
    enable.auto.commit: true
    fetch.min.bytes: 1
    session.timeout.ms: 6000
    heartbeat.interval.ms: 2000
producer:
  kafka:
    bootstrap.servers: {{ KAFKA2_BOOTSTRAP_SERVERS }}
    security.protocol: {{ KAFKA2_SECURITY_PROTOCOL }}
    sasl.mechanism: {{ KAFKA2_SASL_MECHANISM }}
    sasl.username: {{ KAFKA2_SASL_USERNAME }}
    sasl.password: {{ KAFKA2_SASL_PASSWORD }}